.container {
  min-height: 100dvh;
  z-index: 41;
  position: inherit;
  background-color: var(--white);
  padding-inline: 1rem;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  width: 100%;
  //   align-items: center;

  & > header {
    font-size: clamp(1.5rem, 6vw, 7rem);
    padding-top: 10vh;
    margin-bottom: 10vh;
    text-transform: uppercase;
  }
}
