.container {
  min-height: 100dvh;
  position: inherit;
  z-index: 51;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--black);
  color: var(--cyan);
}

.header {
  max-width: var(--max-width);

  h2 {
    font-size: 19vw;
    font-size: clamp(3rem, 19vw, 22rem);

    text-align: center;
  }
  border-bottom: 1px solid var(--cyan);
}

.body {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  padding-inline: 1rem;
  max-width: var(--max-width);

  & > div:not(:first-child) {
    h6 {
      border-top: 1px solid var(--cyan);
    }
  }

  & > div {
    width: 100%;
    display: flex;
    // flex-wrap: wrap;
    justify-content: flex-end;

    h6 {
      align-self: flex-start;
      text-align: left;
      width: 20%;
      min-width: 10rem;
      font-size: clamp(1rem, 1.5vw, 4rem);
      padding: 1rem;
    }

    p {
      border: 1px solid var(--cyan);
      width: 50%;
      min-width: 300px;
      flex: 1;
      font-size: clamp(1rem, 1vw, 1.5rem);
      padding: 2rem;
      border-top: none;
      border-right: none;
    }
  }
}

@media screen and (max-width: 460px) {
  .body {
    border-bottom: 1px solid var(--cyan);
    & > div {
      flex-direction: column;

      h6 {
        width: 100%;
        border-bottom: 1px solid var(--cyan);
        border-inline: 1px solid var(--cyan);
      }
      p {
        width: 100%;
        border-inline: 1px solid var(--cyan);
      }
    }

    & > div:not(:first-child) {
      h6 {
        border-top: none;
      }
    }

    & > div:last-child {
      p {
        border-bottom: none;
      }
    }
  }
}
